<div
  fxLayout
  fxLayout.lt-md="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  fxLayoutGap.lt-md="0"
>
  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="clock"
    title="Latest"
    icon="/assets/icons/clock.svg"
  ></app-summary-box>

  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="up-arrow"
    title="Highest"
    icon="/assets/icons/up-arrow.svg"
  ></app-summary-box>

  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="down-arrow"
    title="Lowest"
    icon="/assets/icons/down-arrow.svg"
  ></app-summary-box>

  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="avg"
    title="Average"
    date=""
    icon="/assets/icons/avg.svg"
  ></app-summary-box>
</div>
