<div
  fxLayout
  fxLayout.lt-md="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  fxLayoutGap.lt-md="0"
>
  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="clock"
    title="Latest"
    [date]="(summaryValues$ | async)?.last?.date | date"
    [value]="(summaryValues$ | async)?.last?.value"
  ></app-summary-box>
  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="up-arrow"
    title="Highest"
    [date]="(summaryValues$ | async)?.max?.date | date"
    [value]="(summaryValues$ | async)?.max?.value"
  ></app-summary-box>
  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="down-arrow"
    title="Lowest"
    [date]="(summaryValues$ | async)?.min?.date | date"
    [value]="(summaryValues$ | async)?.min?.value"
  ></app-summary-box>

  <app-summary-box
    fxFlex.lt-md="50%"
    iconName="avg"
    title="Average"
    date=""
    [value]="(summaryValues$ | async)?.average?.value"
  ></app-summary-box>
</div>
