<button
  mat-raised-button
  color="primaloadry"
  (click)="load()"
  [disabled]="dataLoading$ | async"
>
  Reload data
  <mat-icon *ngIf="dataLoading$ | async"
    ><mat-spinner color="warn" diameter="20"> </mat-spinner
  ></mat-icon>
</button>
<div *ngIf="dataLoading$ | async">
  Downloading...
</div>
<div *ngFor="let sensor of dataNames$ | async">
  <div style="height: 20px;"></div>

  <mat-card>
    <!-- <app-info-summary
      [minMaxAverage]="minMaxAverage"
      [lastValues]="lastValues"
      [unit]="sensors.unit"
      [name]="name"
    ></app-info-summary> -->

    <app-info-summary [sensor]="sensor"></app-info-summary>

    <mat-card-content>
      <app-chart [sensor]="sensor"></app-chart>
    </mat-card-content>
  </mat-card>
</div>
